<div class="card" style="width: 18rem">
  <img class="card-img-top" src="http://www.stickpng.com/assets/images/595e5a8070308b1a215b70cc.png" alt="keg picture">
  <div class="card-body">
    <h5 class="card-title">{{childKeg.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Brand: {{childKeg.brand}}</li>
    <li class="list-group-item">Price: {{childKeg.price | currency: 'USD': true: '1.2-2'}}</li>
    <li class="list-group-item">AC%: {{childKeg.alcoholContent | percent: '1.1-2'}}</li>
    <li class="list-group-item">Pints: {{childKeg.amount}}</li>
    <li class="list-group">Tapped: {{childKeg.tappedDate | date: 'd - mm/dd'}}</li>
  </ul>
  <div class="card-body">
    <button class="btn card-link">Sell/Buy Link</button>
  </div>
</div>