table, h2 {
    color: white;
}

.progress {
    position:relative;
    background-color: black;    
}
.progress-value {
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    z-index:2;
    color:white;
    font-weight: bold;
}