<div class="card" style="width: 10rem">
    <div>
      <img class="card-img-top" src="https://static.thenounproject.com/png/1397707-200.png" alt="keg picture">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{childKeg.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{childKeg.brand}}</li>
    <li class="list-group-item">Out Since: {{childKeg.outDate | date: 'shortTime'}}</li>
  </ul>
  <div class="card-body">
    <button class="btn" (click)="refill(childKeg)">Refill</button>
  </div>
</div>