/* You can add global styles to this file, and also import other style files */
body {
    background: black;
    background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/25693wide.jpg");
    background-repeat: no-repeat;
    background-position-y: 125px; 
}